* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	align-content: center;
	margin-left: auto;
	margin-right: auto
}

body {
	align-self: center;
	display: flex;
	height: 100vh;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	background-color: #26224e
}

.kutucuk {
	display: flex;
}

.textkutusu {
	display: flex;
}

.test-odometer {
	display: flex;
	font-size: 64px;
	background-color: #263f58;
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	border-radius: 8px;
	min-width: 300px;
	text-align: center;
	padding: 8px;
	letter-spacing: 4px;
    order: 0;
    margin: 5px;
    flex-basis: auto;
	width: max-content;
	align-self: center;
	border: 4px solid #1e303e;
    border-top-color: rgb(30, 48, 62);
    border-top-style: solid;
    border-top-width: 4px;
    border-right-color: rgb(30, 48, 62);
    border-right-style: solid;
    border-right-width: 4px;
    border-bottom-color: rgb(30, 48, 62);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-left-color: rgb(30, 48, 62);
    border-left-style: solid;
    border-left-width: 4px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}


.dead-odometer {
	font-size: 64px;
	background-color: #263f58;
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	border-radius: 8px;
	min-width: 200px;
	text-align: center;
	padding: 8px;
	letter-spacing: 4px;
    order: 1;
    margin:5px;
    flex-basis: auto;
	border: 4px solid #1e303e;
    border-top-color: rgb(30, 48, 62);
    border-top-style: solid;
    border-top-width: 4px;
    border-right-color: rgb(30, 48, 62);
    border-right-style: solid;
    border-right-width: 4px;
    border-bottom-color: rgb(30, 48, 62);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-left-color: rgb(30, 48, 62);
    border-left-style: solid;
    border-left-width: 4px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.vaka-odometer {
	font-size: 64px;
	background-color: #263f58;
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	border-radius: 8px;
	min-width: 300px;
	text-align: center;
	padding: 8px;
	letter-spacing: 4px;
    order: 2;
    margin: 5px;
    flex-basis: auto;
	border: 4px solid #1e303e;
    border-top-color: rgb(30, 48, 62);
    border-top-style: solid;
    border-top-width: 4px;
    border-right-color: rgb(30, 48, 62);
    border-right-style: solid;
    border-right-width: 4px;
    border-bottom-color: rgb(30, 48, 62);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-left-color: rgb(30, 48, 62);
    border-left-style: solid;
    border-left-width: 4px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}



.update-date {
	font-size: 20px;
	font-family: Montserrat, sans-serif;
	color: grey;
	margin: 8px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-size: 48px;
	font-family: Montserrat, sans-serif;
	color: #fff;
	margin: 16px;
	margin-left: auto;
	margin-right: auto
}

h1 {
	font-family: 'Roboto', sans-serif;
	color: gray
}
